section{
    margin-top: 100px;
    color: white;
}
section .Add-Q{
    background-color: var(--color-bg1 , #2e3267);
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0px auto;
    margin-bottom: 100px;
}
textarea, section .Add-Q input, select{
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: var(--color-bg , #1f2641);
    color: white;
}
input::placeholder, textarea::placeholder{
    color: white;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
section .Add-Q .save{
    color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-bg2);
    cursor: pointer;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    margin: auto;
    font-size: 15px;
}
.t-o-f .true, .choice .choice{
    display: flex;
}
.t-o-f .true , .choice .choice input{
    width: fit-content;
}
section .m-c input[type="checkbox"]{
    margin: 0px 5px 30px 0px !important;
}
