*{
    box-sizing: border-box;
}
:root{
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #f75842;
    --color-bg3: #424890;
    --transtion: 0.3s;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--color-bg , #1f2641);
    min-height: 100px;
    font-family: 'Roboto', sans-serif;
}

.continer{
    width: 100%;
    margin: auto;
    padding: 15px;
}
@media (min-width: 768px){
    .continer{
        width: 750px;
    }
}
@media (min-width: 992px){
    .continer{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .continer{
        width: 1170px;
    }
}

/*for nav style*/
body{
    position: relative;
    height: 100vh;
}

/*start nav*/
nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
nav a{
    color: white;
    text-decoration: none;
}
nav .continer{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav .continer ul li{
    display: inline-block;
    margin-left: 20px;
}
nav .continer ul li a{
    transition-duration: var(--transtion);
}
nav .continer ul li a:hover{
    color: var(--color-bg3);
}
nav .continer ul li form button{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-size: 16px;
    padding: 0px;
}
nav .continer .button{
    display: none;
    width: 25px !important; 
    height: 20px !important; 
}
nav .continer .icon{
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    position: relative;
    z-index: -1;
}
nav .continer .icon.i{
    margin-bottom: 4px;
}
/*this class for java script*/
.display-blok-ul{
    display: block !important;
}

@media (max-width: 767px){
    nav .continer ul{
        display: none;
        position: absolute;
        top: 70px;
        left: 20px;
        width: calc(100% - 80px);
        background-color: #584ef2;
        border-radius: 10px;
    }
    nav .continer ul li{
        display: block;
        padding: 10px;
    }
    nav .continer #open-men{
        display: block;
        font-size: 30px;
        color: white;
        background: none;
        cursor: pointer;
    }
}
/*end nav*/