section{
    margin-top: 100px;
    color: white;
}
section .info{
    margin: 0px auto 40px auto;
    border-radius: 10px;
    background-color: var(--color-bg1);
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: fit-content;
}
section .info h3{
    margin-top: 0px;
    margin-bottom: 20px;
}
section .info p{
    margin: 10px;
}
section .violation h3{
    text-align: center;
    margin: 15px 0px 30px 0px;
}
section .violation , .emotion{
    background-color: var(--color-bg1 , #2e3267);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0px auto;
    overflow-x: auto;
}
section .violation table{
    text-align: center;
    width: 100%;
}
table, th, td {
    border: 1px solid #584ef2;
}
th, td {
    padding: 10px;
}
section .violation table a{
    text-decoration: none;
    color: var(--color-bg2);
}
section .emotion{
    margin-bottom: 40px;
    margin-top: 40px;
}
section .emotion .percent{
    font-weight: bold;
}
section .emotion li{
    margin-bottom: 5px;
}
section .danger-score .score{
    margin-top: 40px;
    font-weight: bold;
}
section .danger-score span{
    display: block;
    margin: 10px 0px;
    padding-left: 20px;
}
section .danger-score .message{
    margin-top: 10px;
    padding-left: 20px;
}