section{
    margin-top: 100px;
    color: white;
}
section .table{
    background-color: var(--color-bg1 , #2e3267);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0px auto;
}
section .table table{
    text-align: center;
    width: 100%;
}
table, th, td {
    border: 1px solid #584ef2;
}
th, td {
    padding: 10px;
}
tr td a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-bg2);
    color: white;
    margin: 0px auto;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}